div(class="stf-overlay")
  div(class="main")
    div(class="header")
      h1 Save This Frame!
    div(class="settings")
      h1 Size
      <input type="radio" id="hd" name="size" value="hd" checked>
      <label for="hd">High Quality / HD</label><br>
      <input type="radio" id="as-is" name="size" value="as-is">
      <label for="as-is">As Visible</label><br>
      <input type="radio" id="screen" name="size" value="screen">
      <label for="screen">Screen Size</label><br>
      <input type="radio" id="custom" name="size" value="custom">
      <label for="custom">Custom (WIP)</label>
      h1 Format
      <input type="radio" id="png" name="format" value="png" checked>
      <label for="png">PNG</label><br>
      <input type="radio" id="jpg" name="format" value="jpg">
      <label for="jpg">JPG</label>
      
      p(class="the-button") Save Screenshot
